/*----------------------------------------*/
/*  Common SCSS
/*----------------------------------------*/

/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

body,
html {
	scroll-behavior: smooth;
}

body {
	font-family: $font;
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	background: $white;
}

.img,
img {
	max-width: 100%;
	@include transition(.3s);
}

.img-100 img {
	width: 100%;
}

.f-left {
	float: left
}

.f-right {
	float: right
}

.text-right {
	text-align: right;
}

.fix {
	overflow: hidden
}

a,
.a-btn,
button,
span,
p,
input,
select,
textarea,
li,
img,
::after,
::before,
.transition-3,
h1,
h2,
h3,
h4,
h5,
h6,
.arrow {
	@include transition(.3s);
}

a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}

a:focus {
	text-decoration: none;
}

// a:hover
// {
// 	color: $theme-color;
// }
a,
button {
	color: inherit;
	outline: medium none;
	text-decoration: none;
	border: none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
	outline: 0
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $black;
	margin-top: 0px;
	font-weight: 500;
	text-transform: capitalize;
	line-height: 1.1;
	font-family: $font;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

h1 {
	font-size: 82px;
	line-height: 1.01;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 16px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

span {
	font-weight: 400;
	text-transform: capitalize;
	color: $gray;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none
}

p {
	font-size: 17px;
	font-weight: 400;
	line-height: 30px;
	color: $gray-4;
	margin-bottom: 15px;
}

input,
select {
	transition: .3s;
}

input {
	font-size: 18px;
	opacity: 1;
	font-weight: 500;
	color: $gray-2;
	border-radius: 10px;
	border: 2px solid $white-5;
	height: 54px;
	padding: 0px 20px;
	width: 100%;
	display: block;
}

label {
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	color: $gray-2;
}

*::-moz-selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

::-moz-selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.block {
	display: block !important;
}

/*--
    - Input Placeholder
-----------------------------------------*/
*::-moz-placeholder {
	font-size: 18px;
	opacity: 1;
	font-weight: 500;
	color: $gray-2;

}

*::placeholder {
	font-size: 18px;
	opacity: 1;
	font-weight: 500;
	color: $gray-2;
}



/*--
    - Common Classes
-----------------------------------------*/
.fix {
	overflow: hidden
}

.clear {
	clear: both;
}

.sticky {
	left: 0;
	margin: auto;
	position: fixed !important;
	top: 0;
	width: 100%;
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
	z-index: 999;
	-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	background: $black !important;
	padding: 10px 0 !important;
	color: $black;
}

.a-btn {
	user-select: all;
	@include border-radius(5px);
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 0;
	padding: 15px 40px;
	text-align: center;
	text-transform: capitalize;
	touch-action: manipulation;
	@include transition();
	vertical-align: middle;
	white-space: nowrap;
	background: $color-1;

	&:hover {
		color: $color-2;
	}
}

.a-w-btn {
	background: $white;
	color: $color-1;
	@include box-shadow(0px 1px 14px 0px #0000000D);
	border: 1px solid $white-3;
}



// Padding CSS 

.input-padding input {
	padding-left: 50px;
}

.input-relative {
	position: relative;

	i {
		position: absolute;
		top: 18px;
		left: 22px;
	}
}

// Color 
.gray-2 {
	color: $gray-2;
}