/*----------------------------------------*/
/*  Variables SCSS
/*----------------------------------------*/

// Fonts 
$font: 'Poppins',
sans-serif;


// Colors ---------------
$white: #fff;
$white-2: #E8EBF7;
$white-3: #F3F3F3;
$white-4: #E9EEFF;
$white-5: #F1F1F1;
$black: #000;
$gray: #727272;
$gray-2: #5B5B5B;
$gray-3: #757575;
$gray-4: #969BA0;
$gray-5: #616161;
$gray-6: #8D8D8D;
$color-1: #0B2A97;
$color-2: #FF9900;
$color-3: #67AAE6;




// Responsive Variables
$xxl: ' screen and (min-width: 1600px)';

// Min Width 1200 px 
$laptop: ' screen and (max-width: 1600px)';

// Min Width 992px 
$lg : ' screen and (max-width: 1199px)';

$m-md:' screen and (min-width: 991px)';

// Min Width 768px
$md:' screen and (max-width: 991px)';

// Min Width 575px
$sm: 'screen and (max-width: 767px)';

// Min Widht 425px
$xs:'(max-width: 575px)';



// Min Widht 425px
$xxs:'(max-width: 425px)';