/*----------------------------------------*/
/*  16. Footer CSS
/*----------------------------------------*/

.footer{
    border-top: 1px solid $gray;
    &__widget-title {
        margin-bottom: 30px;
    }
    &__w-title h2 {
        font-size: 32px;
        color: $white;
    }
    &__widget-link{
        li{
            a {
                color: $white;
                margin-bottom: 15px;
                display: block;
                font-size: 18px;
            }
            &:hover a{
                color: $theme-color;
            }
        }
    }
    &__widget-content{
        p {
            color: grey;
            margin-top: 25px;
        }
    }
    
}