/*----------------------------------------*/
/*  10. Servey CSS
/*----------------------------------------*/
.servey{
    &__right-btn{
        a:hover {
            background: $theme-color;
        }
    }
    &__right-content{
        h2{
            margin-bottom: 40px;
        }
        p{
            font-style: italic;
            font-size: 23px;
        
        }
    }
}
